<%= form_with(model: task, class: "mb-7") do |form| %>
  <div class="mb-5">
    <span>
      <%= form.text_field :name, placeholder: "Add new task", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
      <% if task.persisted? %>
        <%= form.text_field :description, placeholder: "Description...", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
      <% end %>
    </span>
    <%= form.submit "Save", class: "btn py-2 ml-2 bg-blue-600 text-white" %>
  </div>
<% end %>
